.main{
  height: 100%;
  width: 100%;
  //display: flex;
  //flex-wrap: wrap;
  //background: lightgreen;

  form{
    //height: 10%;
    //width: 10%;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    padding: 2.5rem 4rem;
    label{
      font-size: 20px;
    }
    input{
      //width: 100%;
      margin: 10px 0;
      padding: 1rem;
      border-radius: 5px;
      outline: 1px solid #bdbaba;
      border: none;
      font-size: 15px;
    }
    select{
      margin: 10px 0;
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid #bdbaba;
      background: white;
      //outline: 1px solid #bdbaba;
      font-size: 15px;
    }
    textarea{
      margin: 10px 0;
      padding: 1rem;
      border-radius: 5px;
      outline: 1px solid #bdbaba;
      border: none;
      font-size: 15px;
    }
    button{
      width: 10%;
      border: none;
      cursor: pointer;
      padding: 1rem 2rem;
      border-radius: 5px;
      background: #043cfa;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      text-align: center;
      font-weight: 500;
    }
    button:hover{
      background-color: #114172;
    }

  }


}